h1 {
    background-color: aqua;
    width: 50%;
    height: 50px;
    margin: auto;
}

div {
    border: 5px solid #000;
    /* height: 500px; */
    width: 700px;
}

div > h2 {
    border: 3px dotted black;
    height: 30%;
}

div p {
    border: 3px dashed black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 80%;
    height: 10vh;
}

.lorem {
    /* width: 100vh; */
    width: 99vw;
}

.ipsum {
    width: 100%;
}

.lorem, .ipsum {
    margin: 0px;
    padding: 0px;
    border: 1px solid #000;
}