body{
    background-color: rgb(0, 170, 255);
}

.ground{
    width: 100%;
    height: 200px;
    background-image: url(ground64.png);
    background-size: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.character{
    width: 75px;
    height: 100px;
    background-image: url(mario.webp);
    background-size: cover;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: moveRL 10s infinite;
}

@keyframes moveRL {
    0% { 
        left: 10%;
        transform: scaleX(1);
    }
    49%{
        left: 85%;
        transform: scaleX(1);
    }
    50% {
        left: 85%;
        transform: scaleX(-1); 
    }
    99%{
        left: 10%;
        transform: scaleX(-1);
    }
    100% {
        left: 10%;
        transform: scaleX(1);
    }
}

.bush{
    width: 300px;
    height: 200px;
    background-image: url(krzak.png);
    background-size: cover;
    position: absolute;
    bottom: 200px;
    left: 30%;
    z-index: 3;
}

.castle1{
    width: 400px;
    height: 400px;
    background-image: url(castle1.png);
    background-size: cover;
    position: absolute;
    bottom: 200px;
    left: 70%;
    z-index: 0;
}

.castle2{
    width: 400px;
    height: 400px;
    background-image: url(castle2.png);
    background-size: cover;
    position: absolute;
    bottom: 200px;
    left: 70%;
    z-index: 4;
}