*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, footer{
    background-color: #855;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #FDD;
}

aside, main{
    width: 100%;
    height: auto;
    margin: 0; 
}

aside{
    background-color: #A88;
}

article h2{
    margin-top: 0px;
}

article{
    padding: 10px;
}

nav ul{
    display: flex;
    margin: 0px;
    padding: 16px;
}

nav ul li{
    list-style-type: none;
    width: 30%;
    margin: auto;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    aside{
        float: left;
        width: 30%;
        height: 100vh; 
    }

    main{
        height: 100vh;
    }

    article p{
        font-size: 10px;
    }

    nav ul{
        display: block;
    }

    nav ul li{
        height: 50px;
    }
}