*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
}

.navbar{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar{
        background-color: rgb(115, 243, 200);
        padding: 5px 0 5px 0;
        display: block;
    }

    a{
        text-decoration: none;
        background-color: aqua;
        padding: 5px;
        margin: auto;
        display: inline-block;
        width: 100vw;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a{
        width: 25vw;
        margin: 0px;
        padding: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
} 